@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green: var(--color-green-500);
  --color-darkgreen:#203c1c;

  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
  --font-ubunto: var(--font-ubunto);
  --font-poppins: var(--font-poppins);
  --font-manrope: var(--font-manrope);
  --font-catamaran: var(--font-catamaran);
  --font-poppins: 'Poppins', sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-default); 
}

/* font-family: Arial, Helvetica, sans-serif; */
/* font-family:  Times, 'Times New Roman', serif; 
}*/